img {
    object-fit: scale-down !important;
}

.MuiButton-text{
    margin-left: auto !important;
}

.MuiTypography-h5 {
    font-size:1rem !important;
    white-space: nowrap;
    overflow: hidden;
}

.MuiCardContent-root{
    margin-top: 11%;
}
